# Installation

You can download Postgres 12 from https://www.postgresql.org/download/, the software is entirely free!

Installation is simple:
- Just install everything (although you probably won't need Stackbuilder or the command line tools)
- Use the default port
- Be sure to store the superuser password somewhere

# Background

### What is a database
- Allows us to store, manipulate and retrieve data
- Often stored on a computer server

### Relational databases and SQL
- Relational databases: Data is represented as consisting of tuples, which are grouped into *relations*
- SQL (Structured Query Language): a querying language used to query/maintain relational databases
- In SQL, relations are represented as tables: rows are tuples ("entries") and columns are attributes ("variables")
- SQL is old: introduced in 1974 as SEQUEL

### PostgreSQL
- Postgres: A relational database management system (RDBMS)
- Other (proprietary) examples: Oracle Database, MySQL, Microsoft SQL Server, ...
- RDBMSs are not compatible in general, but have a LOT in common

![relation_image](relational_database.png)

# Writing queries

### Styling and some key conventions
- Difference between legible/illegible code, although the computer does not care
- Reserved keywords ('instructions') are written in ALL CAPS
- Table and attribute names are in all lower case, underscores as spaces
- Use indentation/white space/line breaks generously, for longer queries this makes a world of difference
- Example from https://www.sqlstyle.guide/:

In [ ]:
select f.species_name, avg(f.height) as average_height, avg(f.diameter) as average_diameter from flora as f where f.species_name = 'Banksia' or f.species_name = 'Sheoak' or f.species_name = 'Wattle' group by f.species_name, f.observation_date;

In [ ]:
SELECT  f.species_name,
        AVG(f.height) AS average_height,
        AVG(f.diameter) AS average_diameter
   FROM flora AS f
  WHERE f.species_name = 'Banksia'
     OR f.species_name = 'Sheoak'
     OR f.species_name = 'Wattle'
  GROUP BY f.species_name, f.observation_date;

### Some things I often forgot in the beginning (still do)
- Separate arguments within a single instruction by commas
- Strings are indicated by a *single* quote on each side ('a string'). Double quotes ("a string") cause errors, at least in PostgreSQL
- Equality testing involves a *single* equality sign: 3 = 4 is false, 3 == 4 causes an error
- Every query ends with a semicolon

# CRUD: Create, read, update and delete data

### Create a table: CREATE TABLE

In [ ]:
CREATE TABLE customers (
  id SERIAL,
  first_name TEXT,
  last_name TEXT,
  age INTEGER,
  email TEXT,
  phone TEXT,
  country TEXT,
  is_male TEXT
);

See https://www.postgresql.org/docs/12/datatype.html for all types in Postgres

### Create data: INSERT INTO

In [ ]:
INSERT INTO customers (first_name, last_name, age, email, phone, country, is_male)
VALUES  ('Channing', 'Walton', 18, 'ut@auctor.com', '707-3235', 'Bahrain', 'T'),
        ('Xena', 'Garcia', 55, 'et@sagittis.ca', '811-9165', 'American Samoa', 'F');

Not all fields are required, unless we add constraints (see below)

In [ ]:
INSERT INTO customers (last_name, is_male)
VALUES ('Gadd', 'T');

### Why types are important

In [ ]:
INSERT INTO customers (first_name, age)
VALUES (24, 'Brian');

But Postgres typing is not flawless (we will look into this in more detail later)

In [ ]:
INSERT INTO customers (first_name, age)
VALUES (24, 24);

### Constraints

Our customers table permits adding customers without a customer id, name or email address <br>
Constraints allow us to prevent such behaviour by setting hard requirements on the data

In [ ]:
CREATE TABLE customers_constrained (
  id SERIAL,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  age INTEGER CHECK (age >= 0),
  email TEXT NOT NULL,
  phone TEXT,
  country TEXT,
  is_male TEXT NOT NULL
);

In [ ]:
INSERT INTO customers_constrained (first_name, last_name, age, email, phone, country, is_male)
VALUES  ('Channing', 'Walton', 18, 'ut@auctor.com', '707-3235', 'Bahrain', 'T'),
        ('Xena', 'Garcia', 55, 'et@sagittis.ca', '811-9165', 'American Samoa', 'F');

Let's try our incomplete tuple again

In [ ]:
INSERT INTO customers_constrained (last_name, is_male)
VALUES ('Gadd', 'T');

When we look at joins, two more constraints (primary key and foreign key) will become important

### Read data/table: SELECT
The simplest reading command: use SELECT * to show everything

In [ ]:
SELECT *
FROM customers;

We can select columns in any order ...

In [ ]:
SELECT first_name, id, email
FROM customers;

... and give columns custom names in a query if we want ("aliasing")

In [ ]:
SELECT  first_name AS alias_1,
        last_name AS alias_2
FROM customers;

### Update data/table: UPDATE

In [ ]:
UPDATE customers
SET is_male = 'T';

We can conveniently use arithmetic operations

In [ ]:
UPDATE customers
SET id = 2*id + 15;

### Delete data: DELETE

To delete a column (attribute) from a table

In [ ]:
DELETE last_name
FROM customers;

To delete all table contents (but not the table itself!)

In [ ]:
DELETE FROM customers

### Delete table: DROP TABLE

In [ ]:
DROP TABLE customers

# Filtering, sorting, grouping

### Filtering results: WHERE clause

In [ ]:
SELECT *
FROM customers
WHERE first_name = 'Brian';

As we will see in the next lesson, Postgres permits all type of logical constraints

### Sorting results: ORDER BY clause

In [ ]:
SELECT *
FROM customers
ORDER BY age;

Default sorting order in Postgres is ascending, we can also force this behaviour manually with the ASC keyword

In [ ]:
SELECT *
FROM customers
ORDER BY age ASC;

And revert it (i.e. make sorting order descending) with the DESC keywording

In [ ]:
SELECT *
FROM customers
ORDER BY age DESC;

To deal with e.g. ties, we can sort by multiple columns in an order of our choice

In [ ]:
SELECT *
FROM customers
ORDER BY age DESC, last_name ASC;

### Grouping results: GROUP BY clause

##### Note: typically used with aggregate functions (follow later)

In [ ]:
SELECT MAX(age)
FROM customers
GROUP BY is_male;